.theme-doc-container {
  padding: 0 50px;
  box-sizing: border-box;
}

.theme-channelling-details {
  .next-number-wrp {
    .next-number {
      font-size: 250px;
      margin-left: 10px;
    }
  }
  .channelling-form-wrp {
    margin: 20px auto 50px;
  }
}

.btn-addanother {
  padding: 10px 30px;
  margin-top: 50px;
}
