.theme-client-home-wrp {
  background-color: $theme-light-color;
  width: 100%;
  height: 100%;

  .btn-wrp {
    height: 100%;
    width: 80%;
    .item-wrp {
      width: 100%;
      height: 500px;
      .image-con{
        background-image: url('../../images/background.svg');
        width: 80%;
        height: 270px;
        background-size: 100%;
        margin: 0 auto;

        .main-icon{
          width: 150px;
          height: 150px;
          &.Channelling{
            background-image: url('../../images/television.svg');
          }
          &.watching{
            background-image: url('../../images/television.svg');
          }
        }

      }

      .title{
        margin: 20px;
      }

      .description{
        margin: 20px 50px;
      }
    }
  }
}
