.theme-welcome-wrp {
  height: 100vh;
  width: 100vw;

  .upper-wrp {
    background-color: $theme-higlight-color;
    height: 60vh;
    width: 100v;
    position: relative;
  }

  .lower-wrp {
    background-color: $theme-light-color;
    height: 40vh;
    width: 100vw;
    position: relative;
  }
  .theme-wave {
    background-image: url('../../images/wave.svg');
    width: 100%;
    height: 140px;
    left: 0;
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    fill: $theme-higlight-color;
    // color: transparent;
  }
  .theme-wave2{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
