.theme-welcome-wrp {
  height: 100vh;
  width: 100vw;

  .upper-wrp {
    background-color: $theme-higlight-color;
    height: 60vh;
    width: 100vw;
    position: relative;
    .main-title {
      padding-top: 225px;
      font-family: $theme-fornt-eb;
    }
    .sub-title {
      padding: 20px 40px 0;
      color: $theme-light-color;
    }
    .deco-wrp {
      position: absolute;
      bottom: -1px;
      width: 100%;
    }
  }

  .lower-wrp {
    background-color: $theme-light-color;
    height: 40vh;
    width: 100vw;
    position: relative;
    .button-wrp {
      position: absolute;
      height: 100px;
      bottom: 0;
      width: 100%;
      display: flex;
      .c-btn {
        margin: 0 auto;
      }
    }
  }
}
