@font-face {
  font-family: 'baloo-r';
  src: url('./Baloo_2/Baloo2-Regular.ttf');
}

@font-face {
  font-family: 'baloo-eb';
  src: url('./Baloo_2/Baloo2-ExtraBold.ttf');
}

@font-face {
  font-family: 'baloo-b';
  src: url('./Baloo_2/Baloo2-Bold.ttf');
}

@font-face {
  font-family: 'baloo-m';
  src: url('./Baloo_2/Baloo2-Medium.ttf');
}

@font-face {
  font-family: 'baloo-sb';
  src: url('./Baloo_2/Baloo2-SemiBold.ttf');
}


