.theme-header-wrp {
  background-color: $theme-higlight-color;
  height: $theme-header-height;
  &.long {
    height: $theme-header-height-long;
  }
  .main-title {
    margin: 0 auto;
    font-family: $theme-fornt-eb;
    .img-wrp {
      overflow: hidden;
      width: 83px;
      img {
        width: 100px;
        margin-left: -8px;
      }
    }
  }

  .header-location {
    color: $theme-light-color;

    .first-line {
      height: 50px;
      position: relative;
      margin-top: 10px;

      .header-back {
        position: absolute;
        left: 20px;
        top: 5px;
        font-size: 14px;
        svg {
          font-size: inherit;
        }
      }

      .theme-location-wrap {
        margin-top: 15px;
      }
    }
  }

  .header-menu {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    color: $theme-lightest-color;
  }
}
