@import './variables.scss';
@import './fonts/font.scss';

$theme-higlight-color: $color-cdf;
$theme-light-color: $color-jki;

$theme-fornt-r: 'baloo-r';
$theme-fornt-eb: 'baloo-eb';
$theme-fornt-b: 'baloo-b';
$theme-fornt-m: 'baloo-m';
$theme-fornt-sb: 'baloo-sb';
