@import './variables.scss';
@import './fonts/font.scss';

$theme-higlight-color: $color-cdf;
$theme-light-color: $color-bgh;
$theme-dark-color: $color-vfs;
$theme-disable-color: $color-dbh;

$theme-error-color: $color-vsd;
$theme-success-color: $color-asd;

$theme-fornt-r: 'baloo-r';
$theme-fornt-eb: 'baloo-eb';
$theme-fornt-b: 'baloo-b';
$theme-fornt-m: 'baloo-m';
$theme-fornt-sb: 'baloo-sb';

.theme-box-shabow {
  -webkit-box-shadow: 0px 2px 18px -3px $theme-higlight-color;
  -moz-box-shadow: 0px 2px 18px -3px $theme-higlight-color;
  box-shadow: 0px 2px 18px -3px $theme-higlight-color;
}

$theme-menu-bar-height: 45px;
$theme-header-height: 45px;
$theme-header-height-long: 90px;
