.c-btn {
  background-color: $theme-higlight-color;
  color: $theme-light-color;
  height: 60px;
  border-radius: 60px;
  min-width: 60px;
  float: left;
  -webkit-box-shadow: 1px 4px 8px -1px rgba(234, 56, 56, 1);
  -moz-box-shadow: 1px 4px 8px -1px rgba(234, 56, 56, 1);
  box-shadow: 1px 4px 8px -1px rgba(234, 56, 56, 1);
}

body {
  font-family: $theme-fornt-r !important;

  p{
    font-family: $theme-fornt-r !important;
    font-size: 20px;
    line-height: 24px;
  }
}
