.c-btn {
  @extend .theme-box-shabow;
  background-color: $theme-higlight-color;
  color: $theme-light-color;
  height: 60px;
  border-radius: 60px;
  min-width: 60px;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  font-family: $theme-fornt-r !important;

  p {
    font-family: $theme-fornt-r !important;
    font-size: 20px;
    line-height: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  svg::active {
    color: inherit;
  }
  a, a:hover {
    color: $theme-light-color;
  }

  .title {
    text-transform: uppercase;
    margin: 10px 0;
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  .description {
    font-size: 18px;
    line-height: 22px;
  }
}
