.containerWrp {
  margin-top: 100px;
  display: flex;
  flex: 1;

  .numberWrp {
    font-size: 300px;
    line-height: 275px;
  }

  .listQueueWrp {
    li {
      .rightWrp,
      .right-wrp {
        display: none;
      }
    }
  }
}
