$color-r4a: #454545;
$color-b5d: #785964;
$color-fgy: #d5c7bc;
$color-cvf: #f1fffa;
$color-swd: #93b7be;
$color-mxy: #ffffff;

$icon-color: $color-b5d;
$icon-hover-color: $color-fgy;

//btn
$btn-background-color: $color-b5d;
$btn-background-hover-color: $color-fgy;
$btn-color: $color-mxy;
$btn-hover-color: $color-b5d;

$navi-background-color: $color-swd;
$header-background-color: $color-r4a;
$header-color:$color-fgy;

$web-color: $color-b5d;

//div
$div-background-disabled-color: $color-fgy;
$div-disabled-color: $color-b5d;

$div-background-active-color: $color-swd;
$div-active-color: $color-mxy;
//end - div

.theme {
  &.dark {
    color: $web-color;

    .iconColor {
      color: $icon-color;
      &:hover {
        color: $icon-hover-color;
      }
    }

    .theme-header {
      background-color: $header-background-color;
      .theme-user{
        color: $header-color;
      }
    }
    .theme-navi {
      background-color: $navi-background-color;
      a {
        color: $btn-color;
        &:hover {
          color: $btn-hover-color;
        }
      }
    }

    .theme-element-wrp {
      .theme-element-button {
        background-color: $btn-background-color;
        color: $btn-color;
        &:hover {
          background-color: $btn-background-hover-color;
          color: $btn-hover-color;
        }
      }

      .theme-element-text {
        border-color: $btn-background-color;
      }
    }

    .list-group-item {
      &.disabled {
        background-color: $div-background-disabled-color;
        color: $div-disabled-color;
      }
      &.active {
        background-color: $div-background-active-color;
        color: $div-active-color;
      }
    }
  }
}
