// @import "../../scss/Theme.scss";

// .headerWrp {
//   background-color: $theme-background-darak;
//   height: 80px;
//   width: 100%;
//   display: flex;;
//   color: $theme-foreground-light;
// }

.headerWrp {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0 -15px;
    .hamburgerCon{
      position: absolute;
      right: 20px;
    }
}
