@import './scss/Theme.scss';
@import './scss/icomoon/style.css';

body {
  overflow: hidden;
}

.App {
  text-align: center;
  overflow: hidden;
}

.bodyWrp {
  @include clacmin('height', 100vh, $theme-menu-bar-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bodyCon {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
