@import "./themes/theme_three.scss";

.title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.theme-navi {
  .theme-logoutWrp {
    position: absolute;
    bottom: 20px;
  }
}

.list-group-item{
  text-align: left;
}



// $navi-width:300px;
// $btn-radius:3px;

// button, .theme-btn-default{
//     background-color: $theme-btn-background;
//     height: 40px;
//     line-height: 40px;
//     padding: 0 40px;
//     color: $theme-btn-foreground;
//     border: none;
//     border-radius:$btn-radius;
//     cursor: pointer;
//     &:hover{
//         background-color: $theme-btn-foreground;
//         color: $theme-btn-background;
//     }
//     &.disabled{
//         cursor: default;
//     }
// }
